{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>NLP Query - {{ title }}</title>
        {% else %}
            <title>NLP Query</title>
        {% endif %}
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
          <main role="main" class="container" style="padding: 0">
            <div class="row">
              <div class="col-md-12">
                {% block content %}{% endblock %}
              </div>
            </div>
          </main>

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script>
          $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          });
        </script>
    </body>
</html>