{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <!-- <a href="contacts.html"><i class="fa fa-fw fa-envelope"></i> Contact</a> -->
        <a href="{% url 'contactpage'%}"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </div>

    <div class="main">
        <h1>Query Bot</h1>
        <p>Welcome to our query bot! Feel free to ask any questions you may have regarding your chosen topic</p><br><br>
    </div>

    <div class="form">
        <form method="POST" enctype="multipart/form-data" > {% csrf_token %}

        <div class="topic-menu">
            <label for="choose-topic">Choose a topic:</label>

            <select name="subtopic" id="subtopic">
                <option value="finance">Finance</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div><br>


            <label for="question">Your Query:</label>
            <input type="text" id="question" name="question" required><br><br>

            <div class="image-upload">
                <label for="file-input">
                    <img class="image" src="{% static 'images/upload-docs-green.png' %}" />
                </label>

                {% comment %} <input id="file-input" type="file" required /> {% endcomment %}
                <input type="file" name="document" id="file-input" required>

                <!-- <div class="upload-text">Click to upload a document</div> -->
            </div><br><br>
            <!-- <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> -->



            <!-- <button>class="button" type="button">Submit</button> -->

            <!-- <a href="results.html" class="button">Submit</a> -->
            <input  type="submit" id="home_question_sub" name="home_question_sub"  class="button" value="Submit" />
        </form>
    </div>

    <!-- <div class="upload-text">
            Click to upload an image
        </div> -->

{% endblock content %}